<ion-header>
  <ion-toolbar>
    <ion-title>Conditions et Détails sur les aides</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-card color="medium">
      <ion-card-header>
        <ion-card-subtitle>Détails</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          En cas d'évènements heureux* (mariage, accouchement..) ou malheureux**
          (décès..), chaque membre devrait cotiser 50€ et le total est rendu au
          concerné.
        </p>
        <br />
        <p>
          En cas de décès du conjoint(e) d'un membre, nous sommes dans
          l'obligation de cotiser 100€ chacun (la totalité de cette somme
          devrait être remis au concerné) et désigner une personne qui nous
          représentera au pays. (Les modalités du voyage c'est-à-dire billet
          d'avoir, séjour, désignation de la personne devront étre discutés
          ensemble et le plutôt possible).
        </p>
        <br />
        <p>
          En cas de décès d'un membre, nous cotisons 200€ par personne qui
          seront rendu au proche du défunt désigné par celui-ci durant son
          séjour sur terre et nous devons tous effectués le déplacement pour le
          lieu du deuil au cas contraire, participer aux charges de ceux qui y
          vont.
        </p>
        <br />
        <p>
          <b
            >NB : L'aide à un évènement heureux ne concerne que le membre, * *et
            malheureux concerne ses parents, ses frères et sœurs (En cas de
            décès). Le cas du décès de l'enfant d'un membre n'a pas encore été
            évoqué.</b
          >
        </p>
      </ion-card-content>
    </ion-card>
  
</ion-content>