<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accueil"></ion-back-button>
    </ion-buttons>
    <ion-title> Sanctions </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button fill="clear" expand="full">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-content>
      <div *ngFor="let sanction of sanctions, let i = index">
        <ion-item>
          <label
            ><h3>{{sanction.nom}}</h3>
            {{sanction.motif}}
            <p>{{sanction.montant}}</p>
          </label>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
