<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p>Compte rendu de<br />la Session
      <br>{{reunion.session_debut | date}} {{reunion.session_fin | date}}</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Liste membres ({{ membresInscrits.length }})
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let membre of membresInscrits, let i = index">
          <ion-label>{{membre.nom}} </ion-label>
        </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Liste rencontres ({{ membresInscrits.length }})
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let membre of membresInscrits, let i = index">
          <ion-label>{{membre.id_session}} </ion-label>
        </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Liste prets ({{ membresInscrits.length }})
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let membre of membresInscrits, let i = index">
          <ion-label>{{membre.id_session}} </ion-label>
        </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Liste aides ({{ membresInscrits.length }})
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let membre of membresInscrits, let i = index">
          <ion-label>{{membre.id_session}} </ion-label>
        </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
