<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      >Dépenses<ion-label
        ><p>{{total_depenses | currency: 'EUR'}}</p></ion-label
      >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item *ngFor="let depense of depenses, let i = index">
        <ion-label>
          {{depense.motif}}
          <p>{{depense.date | date}}</p>
          <p>{{depense.montant | currency: 'EUR' }}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ajouter une depense</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime
          displayFormat="MMM DD, YYYY"
          [(ngModel)]="dateDepense"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Raison</ion-label>
        <ion-input [(ngModel)]="motif"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Montant</ion-label>
        <ion-input [(ngModel)]="montant"> </ion-input>
      </ion-item>
      <ion-button (click)="add()" shape="round" expand="block" fill="solid">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-list>
  </ion-card>
</ion-content>
