<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title> Aides</ion-title>
      <ion-button shape="round" [collapse]="true" (click)="openModalInfo()">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button fill="clear" expand="full" (click)="openModalAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-toolbar>
          <ion-segment value="all">
            <ion-segment-button value="all" content-id="all">
              <ion-label>Liste des aides ({{ listAides.length }})</ion-label>
            </ion-segment-button>
            <ion-segment-button value="ouverts" content-id="ouverts">
              <ion-label>Ouverts ({{ offenAidesList.length }})</ion-label>
            </ion-segment-button>
            <ion-segment-button value="fermées" content-id="fermées">
              <ion-label>Fermées ({{ closeAidesList.length }})</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>

        <!--  <ion-toolbar>
          Liste des aides ({{ listAides.length }})
          <ion-buttons slot="end">
            <ion-button fill="clear"
              >Ouverts ({{ offenAidesList.length }})</ion-button
            >
            <ion-button fill="clear"
              >Fermées ({{ closeAidesList.length }})</ion-button
            >
          </ion-buttons>
        </ion-toolbar> -->
      </ion-card-title>
    </ion-card-header>

    <ion-segment-view>
      <ion-segment-content id="all" fixed-slot-placement="before">
        <ion-list>
          <ion-item *ngFor="let aide of listAides, let i = index">
            <ion-label>
              <ion-badge *ngIf="aide.date_versement !== null" color="success"
                >Fermées</ion-badge
              >
              <ion-badge *ngIf="aide.date_versement === null" color="danger"
                >Ouverts</ion-badge
              >
              <h3>{{aide.nom}}</h3>

              <div *ngIf="aide.date_versement !== null">
                <p>
                  <ion-icon name="calendar-outline" slot="start"></ion-icon>
                  {{ aide.date_versement | date}}
                </p>
              </div>

              <p>{{aide.type_aide}}</p>

              <p>
                <ion-icon name="cash-outline" slot="start"></ion-icon> Montant
                {{aide.montant | currency: 'EUR'}}
              </p>
            </ion-label>
            <input type="checkbox" [(ngModel)]="date_versement" />
          </ion-item>
        </ion-list>
      </ion-segment-content>
      <ion-segment-content id="ouverts">
        <ion-card>
          <ion-list>
            <ion-item *ngFor="let aide of offenAidesList, let i = index">
              <ion-label>
                <h3>{{aide.nom}}</h3>
                <p>{{aide.type_aide}}</p>
                <p>
                  <ion-icon name="cash-outline" slot="start"></ion-icon> Montant
                  {{aide.montant | currency: 'EUR'}}
                </p>
              </ion-label>
              <input type="checkbox" [(ngModel)]="date_versement" />
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-segment-content>
      <ion-segment-content id="fermées"
        ><ion-card>
          <ion-list>
            <ion-item *ngFor="let aide of closeAidesList, let i = index">
              <ion-label>
                <h3>{{aide.nom}}</h3>

                <p>{{aide.type_aide}}</p>

                <p>
                  <ion-icon name="cash-outline" slot="start"></ion-icon> Montant
                  {{aide.montant | currency: 'EUR'}}
                </p>
              </ion-label>
              <input type="checkbox" [(ngModel)]="date_versement" />
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-segment-content>
    </ion-segment-view>
  </ion-card>
</ion-content>
