<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" [routerLink]="['/accueil']">
        <ion-icon name="home"></ion-icon>
        Accueil
      </ion-tab-button>
      <ion-tab-button tab="cotisations" [routerLink]="['/cotisations']">
        <ion-icon name="people-outline"></ion-icon>
        Cotisations
      </ion-tab-button>
      <ion-tab-button tab="prets" [routerLink]="['/pret']">
        <ion-icon name="wallet-outline"></ion-icon>
        Prêts
      </ion-tab-button>
      <ion-tab-button tab="aides" [routerLink]="['/aides']">
        <ion-icon name="help-buoy"></ion-icon>
        Aides
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
