<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accueil"></ion-back-button>
    </ion-buttons>
    <ion-title
      >Dépenses ({{ depenses.length }})<ion-label
        ><p>{{total_depenses | currency: 'EUR'}}</p></ion-label
      >
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button fill="clear" expand="full" (click)="openModalAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-content>
      <ion-item *ngFor="let depense of listDepenses, let i = index">
        <ion-label>
          {{depense.motif_depense}}
          <p>{{depense.montant_depense | currency: 'EUR' }}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
