<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      >Dépenses ({{ depenses.length }})<ion-label
        ><p>{{total_depenses | currency: 'EUR'}}</p></ion-label
      >
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item *ngFor="let depense of listDepenses, let i = index">
        <ion-label>
          {{depense.motif_depense}}
          <p>{{depense.montant_depense | currency: 'EUR' }}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
     <ion-button  fill="clear" expand="full" (click)="openModalAdd()">
      Ajouter une dépense
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button></ion-title>
  </ion-toolbar>
</ion-footer>
