<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/membres"></ion-back-button>
    </ion-buttons>
    <ion-title> {{membre.prenom}} {{membre.nom}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Née le {{membre.date_naissance| date}} A étudié {{membre.formation}}
      </ion-card-title>
    </ion-card-header>
    <div *ngIf="prets.length === 0">
      <ion-card>
        <ion-card-header>
          <ion-card-title> Pas de prêts contracter </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div *ngIf="prets.length > 0">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Liste de prêts rembourser et en cours ({{ prets.length }})
          </ion-card-title>
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let pret of prets, let i = index">
              <ion-card>
                <p>
                  <ion-icon name="calendar-outline" slot="start"></ion-icon>
                  {{pret.date_pret | date }}
                </p>
                <p>Prêt sur {{pret.duree}} mois</p>
                <p>
                  <ion-icon name="cash-outline" slot="start"></ion-icon> Montant
                  {{pret.montant | currency: 'EUR'}}
                </p>
                <p>
                  <span *ngIf="pret.duree==3">
                    <ion-icon name="cash-outline" slot="start"></ion-icon>
                    Intérêt
                    <strong
                      >{{pret.montant*3/100 | currency: 'EUR'}}</strong
                    ></span
                  >
                </p>
                <p>
                  <span *ngIf="pret.duree==6"
                    ><ion-icon name="cash-outline" slot="start"></ion-icon>
                    Intérêt {{pret.montant*6/100 | currency: 'EUR'}}</span
                  >
                </p>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

    <div *ngIf="aides.length === 0">
      <ion-card>
        <ion-card-header>
          <ion-card-title> Aucune aide recus </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
    <div *ngIf="aides.length > 0">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Liste des aides recus ou en cours ({{ aides.length }})
          </ion-card-title>
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let aide of aides, let i = index">
              <ion-card>
                <ion-label>
                  <p>{{ aide.date_versement | date}}</p>
                  <p>{{aide.type_aide}}</p>
                </ion-label>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </ion-card>
</ion-content>
