<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-label slot="end">
      <ion-button slot="" [routerLink]="['/parametre']">
        <ion-icon name="options-outline" size="large"></ion-icon>
      </ion-button>
    </ion-label>
    <ion-title>Tontine </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Etat des caisses {{total_fonds_disponible | currency: 'EUR'}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card>
        <ion-label>
          <ion-toolbar>
            <ion-badge>Total caisse sans emprunts</ion-badge>
          </ion-toolbar>
          <h1>{{total_fonds | currency: 'EUR'}}</h1>
        </ion-label>
      </ion-card>

      <ion-card [routerLink]="['/caisse']">
        <ion-toolbar>
          <ion-badge>Total fond de caisse</ion-badge>

          <ion-icon
            name="chevron-forward-outline"
            slot="end"
            size="large"
          ></ion-icon>
        </ion-toolbar>
        <ion-label>
          <h1>{{0 | currency: 'EUR'}}</h1>
        </ion-label>
      </ion-card>

      <ion-card [routerLink]="['/depenses']">
        <ion-toolbar>
          <ion-badge>Total dépenses</ion-badge>

          <ion-icon
            name="chevron-forward-outline"
            slot="end"
            size="large"
          ></ion-icon>
        </ion-toolbar>
        <ion-label>
          <h1>{{total_depenses | currency: 'EUR'}}</h1>
        </ion-label>
      </ion-card>

      <ion-card [routerLink]="['/sanctions']">
        <ion-toolbar>
          <ion-badge>Total amandes</ion-badge>

          <ion-icon
            name="chevron-forward-outline"
            slot="end"
            size="large"
          ></ion-icon>
        </ion-toolbar>
        <ion-label>
          <h1>{{total_sanctions | currency: 'EUR'}}</h1>
        </ion-label>
      </ion-card>

      <ion-card>
        <ion-label>
          <ion-toolbar>
            <ion-badge>Total intérets</ion-badge>
          </ion-toolbar>
          <h1>{{total_interet_generer | currency: 'EUR'}}</h1>
        </ion-label>
      </ion-card>

      <ion-card>
        <ion-label>
          <ion-toolbar>
            <ion-badge>Total des emprunts en cours</ion-badge>
          </ion-toolbar>
          <h1>{{total_prets_non_rembourser | currency: 'EUR' }}</h1>
        </ion-label>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Prêts ouverts ({{ offenPretsList.length }})
      </ion-card-title>
    </ion-card-header>
    <ion-row>
      <ion-col *ngFor="let pret of offenPretsList, let i = index">
        <ion-card>
          <!-- <h3>{{pret.nom }}</h3> -->
          <p>
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            {{pret.date_pret | date }}
          </p>
          <p>Prêt sur {{pret.duree}} mois</p>
          <p>
            <ion-icon name="cash-outline" slot="start"></ion-icon> Montant
            {{pret.montant | currency: 'EUR'}}
          </p>
          <p>
            <span *ngIf="pret.duree==3">
              <ion-icon name="cash-outline" slot="start"></ion-icon> Intérêt
              {{pret.montant*3/100 | currency: 'EUR'}}</span
            >
          </p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Aides ouvertes ({{ offenAidesList.length }})
      </ion-card-title>
    </ion-card-header>
    <ion-row>
      <ion-col *ngFor="let aide of offenAidesList, let i = index">
        <ion-card>
          <!-- <h3>{{aide.nom}}</h3> -->

          <div *ngIf="aide.date_ouverture_aide !== null">
            <p>
              <ion-icon name="calendar-outline" slot="start"></ion-icon>
              {{ aide.date_ouverture_aide | date}}
            </p>
          </div>

          <p>{{aide.type_aide}}</p>
          <p>
            <ion-icon name="cash-outline" slot="start"></ion-icon> Montant
            <!-- {{aide.montant | currency: 'EUR'}} -->
          </p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-toolbar>
          Sessions ({{ reunions.length }})
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon name="add-circle-outline" size="large"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card-title>
    </ion-card-header>
    <ion-row>
      <ion-col
        *ngFor="let reunion of reunions | slice:0:reunions.length; let i = index"
        [routerLink]="['/detail-session', reunion.id_session]"
      >
        <ion-card>
          <ion-row>
            <ion-col>
              <ion-badge>Session {{reunion.id_session}}</ion-badge>
              <p>
                <ion-icon name="calendar-outline" slot="start"></ion-icon>
                du {{reunion.session_debut | date }} au {{reunion.session_fin |
                date}}
              </p>
            </ion-col>
            <ion-row>
              <p>
                <ion-icon name="cash-outline" slot="start"></ion-icon>
                {{reunion.montant_fond_caisse | currency: 'EUR'}} Fond de caisse
              </p>
            </ion-row>
            <ion-row>
              <p>
                <ion-icon name="cash-outline" slot="start"></ion-icon>
                {{reunion.montant_tontine | currency: 'EUR'}} Montant tontine
              </p>
            </ion-row>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
